#home-page.row(ng-controller='HomeLoggedInCtrl')
  form.span12.search-bar.form-inline.row
      label
        | Errand 
        input(type='text', ng-model='errand')
      label
        | Price 
        input(type='text', ng-model='price')
      button(type='submit') Post
  ul.span12.row.errands
    li(ng-repeat='errand in errands')
      div(rs-errand, errand="errand", user="CurrentUser", run="run(errand)")
