#home-page.row(ng-controller='HomeAnonCtrl', ng-if='!CurrentUser.loggedIn()')
  .span12.row
    img(src='/img/banner.png')#banner
  h2.row.span12 Popular Errands
  - var names = ['laundry', 'delivery', 'grocery']
  ul#teasers.row.span12
    - each name in names
      li
        img(src='/img/#{name}.png')
