#home-page.row(ng-controller='HomeAnonCtrl')
  .search-bar.span12.row
    p Need to run an errand? Landry ? Printing? Find a runner now!
    a.btn(ng-href='logIn()') Sign up now!
  ul.errands
    li(ng-repeat='errand in sampleErrands')
      div(style='background-image: {{errand.fb_id | photo}}')
        .desc
          div {{ errand.title }}
          div
            div
              span Average Price: 
              | PHP {{ errand.price | number:2 }}
