#home-page.row(ng-controller='HomeAnonCtrl', ng-if='!CurrentUser.loggedIn()')
  .span12.row
    img(src='/img/banner.png', alt='Need a hand with your errands? Have your friendly neighbours help you out!')#banner
  ul#targets.row.span12
    li
      img(src='/img/foreigner.png')
      .desc.foreigners(data-orig='-63px')
        .name Foreigners
        .hook Are you visiting a new country? Staying for a short while? Find neighbourly locals to guide and help you out with short errands.
    li
      img(src='/img/youngprofessional.png')
      .desc.young-professionals(data-orig='-43px')
        .name Young Professionals
        .hook Too busy to take care of your errands? Let your neighbours do it for you!
    li
      img(src='/img/seniorcitizen.png')
      .desc.senior-citizens(data-orig='-63px')
        .name Senior Citizens
        .hook Do you have difficult or heavy errands to finish? Let your friendly neighbours help you out!
  img(src='/img/popularerrands.png', alt='Popular Errands')
  - var names = ['laundry', 'delivery', 'grocery']
  ul#teasers.row.span12
    - each name in names
      li
        img(src='/img/#{name}.png')
