#my-errands.row
<<<<<<< HEAD
  ul.span12.row.errands
    li(ng-repeat='errand in errands')
      div(rs-errand, errand="errand")
||||||| merged common ancestors
  .span12.content(ng-controller='ErrandCreationCtrl')
    form.span12.search-bar.row(ng-submit='submit()')
      div
        label
          | Title 
        input(type='text', ng-model='errand.title', required, placeholder='Title')
      div
        label
          | Description 
        textarea(ng-model='errand.body', required, placeholder='Description')
      div
        label
          | Deadline
        div
          input(type='text', ng-model='time', required, bs-timepicker, placeholder='HH:MM:SS')
        div
          input(type='text', ng-model='date', required, bs-datepicker, placeholder='YYYY-mm-dd', data-date-startdate='{{today}}')
      div
        label
          | Location
        input(type='text', ng-model='errand.location', required, placeholder='Brief location (e.g., Manila)')
      #location-map
         
      div
        label
          | Price
        input(type='text', ng-model='errand.price', required, placeholder='Price (in PHP)')
      div
        button(type='submit') Submit
    ul.span12.row.errands
      li(ng-repeat='errand in errands')
        div(rs-errand, errand="errand")
=======
  .span12.content(ng-controller='ErrandCreationCtrl')
    form.span12.search-bar.row(ng-submit='submit()')
      div
        label
          | Title 
        input(type='text', ng-model='errand.title', required, placeholder='Title')
      div
        label
          | Description 
        textarea(ng-model='errand.body', required, placeholder='Description')
      div
        label
          | Deadline
        div
          input(type='text', ng-model='time', required, bs-timepicker, placeholder='HH:MM:SS')
        div
          input(type='text', ng-model='date', required, bs-datepicker, placeholder='YYYY-mm-dd', data-date-startdate='{{today}}')
      div
        label
          | Location
        input(type='text', ng-model='errand.location', required, placeholder='Brief location (e.g., Manila)')
      #location-map
         
      div
        label
          | Price
        input(type='text', ng-model='errand.price', required, placeholder='Price (in PHP)')
      div
        button(type='submit') Submit
    ul.span12.row.errands
      li(ng-repeat='errand in errands')
<<<<<<< HEAD
        div(rs-errand, errand="errand", accept="accept(errand, request)", requests="errand.errand_requests")
||||||| merged common ancestors
        div(rs-errand, errand="errand", accept="accept(errand, request)", requests="requests")
=======
        div(rs-errand, errand="errand", accept="accept(errand, request)", requests="requests")
>>>>>>> c93d6074905060c0d876159a4ed19b83e44020d2
>>>>>>> origin/master
