#my-errands.row
  .span12.content(ng-controller='ErrandCreationCtrl')
    form.span12.search-bar.row(ng-submit='submit()')
      div
        label
          | Title 
        input(type='text', ng-model='errand.title', required)
      div
        label
          | Body 
        textarea(ng-model='errand.body', required)
      div
        label
          | Deadline
        input(type='text', ng-model='errand.deadline', required)
      div
        label
          | Location
        input(type='text', ng-model='errand.location', required)
      #location-map
         
      div
        label
          | Price
          input(type='text', ng-model='errand.price', required)
      div
        button(type='submit') Submit
    ul.span12.row.errands
      li(ng-repeat='errand in errands')
        div(rs-errand, errand="errand", accept="accept(errand, request)", requests="requests")
