#profile
  .row
    .profile-picture
      img(ng-src="{{user.fb_id | profilepic}}")
    .profile-details
      h3.profile-name {{ user.first_name }} {{ user.last_name }}
      div.rating-score
        | Average Rating:
      span.rating-stars
        span(ng-repeat='star in stars', class='{{ {true: "icon-star", false: "icon-star-empty"}[star <= rating_average] }}')
      span.rating-count.muted {{ rating_count }} votes
  .row
    h3.errands-done Errands Done
    div(ng-repeat='request in requests')
      div(rs-rating, request="request")
