<% @restaurants.each do |resto| %>
  <div class="container-fluid restaurant-listing">
    <div class="row-fluid">
      <div class="span12">
         <h4 class="pull-left"><%= link_to resto.name, restaurant_path(resto) %></h4>
         <h2 class="pull-right sentiments"><i class="icon-smile text-success"></i> <%= resto.nHappy %> <i class="icon-frown text-error"></i> <%= resto.nSad %></h2>
      </div>
    </div>
  </div>
<% end %>
