body > .container > .container-fluid
  overflow: hidden
  background: white
  padding: 10px
  border-radius: 3px
  
.restaurant-listing
  padding: 10px
  border: 1px solid #ccc
  margin: 5px

.tweets
  list-style-type: none
  li
    padding: 10px
    border: 1px solid #ccc
    margin-bottom: 8px

.sentiments
  font-size: 2em

#map-page
  #map
    width: 400px
    height: 400px
    margin: 0 auto

#wordcloud
  width: 600px
  height: 500px

.comments
  input, textarea
    width: 100%
    box-sizing: border-box
    padding: 10px
    display: block
  ul
    list-style-type: none
    li
      box-sizing: border-box
      display: block
      .body
        padding: 10px
      width: 100%
      margin-bottom: 10px
      border: 1px solid #ccc
      .meta
        padding: 10px
        width: 100%
        border-bottom: 1px solid #ccc
        box-sizing: border-box
        overflow: hidden
        .date
          float: right
        .author
          float: left
