border-color = #ccc
border-width = 1px

#main
  margin-top 60px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

footer
  border-top 1px solid #ccc
  margin-top 5em
  padding-top 1em

#home-page
  display table
  .content
    display table-cell
    box-sizing border-box
    padding 10px
  .sidebar
    display table-cell
    padding 10px
    border-left border-width solid border-color
    box-sizing border-box
  .search-bar
    padding 10px 0
    border-bottom border-width solid border-color
  ul.errands
    list-style-type none
    li
      border border-width solid border-color
      width 150px
      height 100px
      float left
      margin-right 12px
      padding 10px
      box-sizing border-box
