border-color = #ccc
border-width = 1px
true_blue = #003399

body
  color: #333333;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eff2e3 90%, #ebfcd9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(90%,#eff2e3), color-stop(100%,#ebfcd9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%);

a:focus
  color: #fff

#main
  margin-top 120px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

.nav
  li
    position: relative
    .notification
      position: absolute
      top: 0
      right: 0


footer
  border-top 1px solid #ccc
  margin-top 5em
  padding-top 1em

ul.errands
  list-style-type none
.errand
  position relative
  display block
  border border-width solid border-color
  width 300px
  height 225px
  float left
  margin 12px 12px 12px 0
  padding 10px
  box-sizing border-box
  .desc
    position absolute
    bottom 0
    left 0
    right 100%
    height 60px
    width 100%
    border-color #eee
    border-top border-width solid border-color
    box-sizing border-box
    padding 10px
      
#home-page
  display table
  .content
    display table-cell
    box-sizing border-box
    padding 10px
  .sidebar
    display table-cell
    padding 10px
    border-left border-width solid border-color
    box-sizing border-box
  .search-bar
    padding 10px 0
    border-bottom border-width solid border-color
  .form-search
    float left
    input
      width 800px
    input, button
      height 32px

#location-map
  width 100%
  height 300px

header.navbar 
  .container
    display table
    .wrapper
      height 100%
      width 800px
      display table-cell
      vertical-align middle
      overflow hidden
  i
    font-size 32px
    color true-blue
    &:hover
      color #669933
  i.icon-facebook-sign
      font-size 18px
      color #fff
      &:hover
        color #fff
.datepicker, .bootstrap-timepicker
  z-index 10000 !important
.bootstrap-timepicker-widget table td input
  width 40px

#new-errand
  form
    margin 0
    textarea
      height 70px
  .modal-body
    max-height 600px

#set-location
  height 300px
  width 100%

#banner
  box-shadow 2px 2px 5px #ccc

#teasers
  list-style-type none
  li
    float left
    margin 10px
    box-shadow 2px 2px 5px #ccc
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

#login-btn
  background true_blue

.brand img
  max-width none
  width auto
  height 80px
