border-color = #ccc
border-width = 1px
true_blue = #003399
true_green = #669933
fake_green = #eff2e3
amber = color rgb(255,191,0)



body
  color: #333333;

a:focus
  color: #fff

#main
  padding-top 120px

#wrap
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eff2e3 90%, #ebfcd9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(90%,#eff2e3), color-stop(100%,#ebfcd9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#eff2e3 90%,#ebfcd9 100%);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

.nav
  li
    position: relative
    .notification
      position: absolute
      top: 0
      right: 0
      display block
      border-radius 10px
      width 20px
      height 20px
      color fake_green
      background-color #ccc


footer
  border-top 1px solid #ccc
  margin-top 5em
  padding-top 1em

ul.errands
  list-style-type none

.errand
  display block
  border border-width solid border-color
  width 300px
  height 250px
  float left
  margin 12px 12px 12px 0
  padding 10px
  box-sizing border-box
  background #fff
  .misc
    position relative
    float left
    width 100px
    height 100%
    button
      background #f5f5f5
      height 40px
      padding 6px
      color true_blue
      text-align center
      font-size 125%
      position absolute
      bottom 0
      box-sizing border-box
      width 100px
      font-weight bold
      border-radius 6px
      left 0
      &.view-offers-btn, &.mark-as-done-btn
        height 60px
  img
    float left
    margin 0 10px 10px 0
    border-radius 6px
    width 100px
    height auto
  .name
    width 100%
    text-align center
    text-transform uppercase
    font-size 90%
  .desc
    padding-left 15px
    overflow hidden
    .title
      font-size 125%
      color true_blue
    .meta
      width 150px
      float left
      clear right
      margin-bottom 10px
    .distance
      font-variant small-caps
    .price
      color true_green
      font-weight bold
    .body
      float left
      clear right

  .misc .accept-reject
    position absolute
    left 0
    bottom 0
    width 100px
    height 90px
    .accept-btn
      position relative
      margin-bottom 8px
      height 40px
    .reject-btn
      position relative
      height 40px
  
  .view-offers
    position absolute
    left 0
    bottom 0
    width 100px
    height 60px
    .offers-num
      position absolute
      z-index 10
      border-radius 10px
      text-align center
      width 20px
      height 20px
      right -3px
      top -3px
      background true_green
      color #fff
      
#home-page
  display table
  .content
    display table-cell
    box-sizing border-box
    padding 10px
  .sidebar
    display table-cell
    padding 10px
    border-left border-width solid border-color
    box-sizing border-box
  .search-bar
    padding 10px 0
    border-bottom border-width solid border-color
  .form-search
    float left
    input
      width 760px
    input, button
      height 32px

#location-map
  width 100%
  height 300px

header.navbar 
  .container
    display table
    .wrapper
      height 100%
      width 800px
      display table-cell
      vertical-align middle
      overflow hidden
  i
    font-size 32px
    color true_blue
    &.current, &:hover
      color true_green
  i.icon-facebook-sign
      font-size 18px
      color #fff
      &:hover
        color #fff
.datepicker, .bootstrap-timepicker
  z-index 10000 !important
.bootstrap-timepicker-widget table td input
  width 40px

.rs-errand-modal
  ul.modal-form
    list-style-type none
    > li
      position relative
      display block
      width 100%
      box-sizing border-box
      padding 10px
      ul
        position absolute
        right 0
        li
          overflow hidden
          float left
          display block
          margin-left 10px

.modal
  .modal-form
    margin 0
    textarea
      height 70px
  .modal-body
    max-height 600px

#set-location
  height 300px
  width 100%

#banner
  box-shadow 2px 2px 5px #ccc

#teasers
  list-style-type none
  li
    float left
    margin 10px
    box-shadow 2px 2px 5px #ccc
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

#login-btn
  background true_blue

.brand img
  max-width none
  width auto
  height 80px

#profile
  .profile-picture
    display inline-block

  .profile-details
    display inline-block
    margin-left 10px

    .profile-name
      font-weight bold
      font-size 300%
      margin-bottom 15px

    .rating-score
      font-weight bold
      font-size 125%
      margin-bottom 5px

    .rating-stars
      font-weight bold
      font-size 150%
      margin-left 20px
      color amber

    .rating-count
      margin-left: 10px   

  .rating-box
    position relative
    border 1px solid #CCC
    background-color #FEFEFE
    border-radius 3px
    padding 10px
    margin-bottom 5px

    .title
      font-size 125%
      margin-bottom 5px

    .score
      position absolute
      top 10px
      right 10px
      color amber
      font-size 110%

    .clearfix
      clear both

#rating-modal
  .rating-star
    color amber


/** Adapted from: http://twitter.github.com/bootstrap/examples/sticky-footer.html */
/* Sticky footer styles
-------------------------------------------------- */

footerHeight = 40px;
html,
body
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

/* Wrapper for page content to push down footer */
#sticky-wrap
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -footerHeight;

/* Set the fixed height of the footer here */
#sticky-push,
footer
  height: footerHeight;

footer.navbar
  margin-bottom: 0
  border-radius: 0
  .navbar-inner
    border-radius: 0

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px)
  footer
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer
  height 40px
  padding 15px
  text-align center
  span
    margin 0 10px
    i
      margin-right 3px

#footer {
  background-color: #f5f5f5;
}

