html(ng-app="tamad")
  head
    title RedSwift

    meta(charset='utf8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')

    - var lib_styles = ['bootstrap/css/bootstrap.css', 'toastr/toastr.css', 'font-awesome/css/font-awesome.min.css', 'angular-ui/angular-ui.min.css', 'select2/select2.css', 'leaflet/leaflet.css', 'bootstrap-datepicker/bootstrap-datepicker.css', 'bootstrap-timepicker/bootstrap-timepicker.css']
    each style in lib_styles
      link(rel='stylesheet', href='/lib/' + style)
    link(rel='stylesheet', href='/css/app.css')

  body(ng-controller="SessionCtrl")
    noscript
      div Javascript must be enabled in order to use RedSwift
    .ng-cloak     
      #wrap
        header.navbar.navbar-fixed-top
          .navbar-inner
            .container
              button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/#/')
                img(src='/img/logo2.png', alt='RedSwift')
              .wrapper
                ul.nav(ng-controller='NavCtrl', ng-show="CurrentUser.loggedIn()")
                  li
                    a(href='/#/', title='Home')
                      i.icon-home(ng-class='{"current": path=="/"}')
                  li
                    a(data-target='#new-errand', data-toggle='modal', title='Post Errand', ng-click='postErrand()')
                      i.icon-plus-sign
                  li
                    a(href='/#/my-errands', title='My Errands')
                      i.icon-briefcase(ng-class='{"current": path=="/my-errands"}')
                      span.notification(ng-show="pendingRequests.length > 0") {{ pendingRequests.length }}
                  li
                    a(href='/#/accepted-errands', title='Accepted Errands')
                      i.icon-check(ng-class='{"current": path=="/accepted-errands"}')
                      span.notification(ng-show="acceptedRequests.length > 0") {{ acceptedRequests.length }}
                .pull-right
                  .progress
                    .bar#progress-bar
                    #progress-text
                .pull-right(ng-hide='CurrentUser.loggedIn()')
                  form.navbar-form.btn-group
                    // will style later
                    a.btn.btn-large.btn-primary(ng-click='logIn()')#login-btn
                      i.icon-facebook-sign
                      |  Login With Facebook
                .pull-right(ng-show='CurrentUser.loggedIn()')
                  a(href="/#/profile", title='View profile').btn
                    i.icon-user
                  a.btn(ng-click='logOut()', title='Log out')
                    i.icon-off
                .nav-collapse.collapse
        #main(role='main').container
          #content(ng-view)
        #push
      #footer
        .container
          p.muted.credit
            span
              &copy; 2013 Team Vivace 
            span
              i.icon-mobile-phone
              |  +63 917 525 5626
    #new-errand(ng-controller='ErrandCreationCtrl').modal.hide.fade
      .modal-header
        button.btn(type="button", data-dismiss="modal", aria-hidden="true").close &times;
        h3 Post a new errand
      form.modal-form(ng-submit='submit()')
        .modal-body
          div.row-fluid
            .control-group.span6
              div
                label
                  | Title 
                input(type='text', ng-model='errand.title', required, placeholder='Title').input-block-level
              div
                label
                  | Description 
                textarea(ng-model='errand.body', required, placeholder='Description').input-block-level
            .control-group.span6
              div
                label
                  | Deadline
                div
                  input(type='text', ng-model='time', required, bs-timepicker, placeholder='HH:MM:SS').input-block-level
                div
                  input(type='text', ng-model='date', required, bs-datepicker, placeholder='YYYY-mm-dd', data-date-startdate='{{today}}').input-block-level
              div
                label
                  | Price
                input(type='text', ng-model='errand.price', required, placeholder='Price (in PHP)').input-block-level
          div
            label
              | Location
            input(type='text', ng-model='errand.location', required, placeholder='Brief location (e.g., Manila)').input-block-level
          #location-map-wrapper
              
        .modal-footer
          button(type='submit').btn.btn-danger Submit

<<<<<<< HEAD
    #offers-modal.rs-errand-modal.modal.hide.fade
      .modal-header
        button.btn.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h3 Offers
      .modal-body
        ul.modal-form
          li(ng-repeat="request in currentBox.errand.errand_requests", ng-show="request.id == currentBox.errand.errand_request_id").row-fluid
            .span5
              | You assigned {{request.user.first_name}} to do this task.
              span.text-info(ng-show="request.finished && !currentBox.errand.finished") {{ request.user.first_name}} marked this task as finished
              span.text-success(ng-show="currentBox.errand.finished") This task is finished
            ul.span5.buttons
              li
                button.btn.btn-success(type="button", ng-show="request.finished", ng-click="currentBox._action('acknowledge', request)") Acknowledge
              li
                button.btn.btn-error(type="button", ng-show="request.finished", ng-click="currentBox._action('reject', request)") Reject
              li
                button.btn.btn-info(type="button", ng-show="!request.finished", ng-click="currentBox._action('cancel', request)") Cancel
          li(ng-repeat='request in currentBox.errand.errand_requests', ng-hide="request.id == currentBox.errand.errand_request_id").row-fluid
            .span5
              | Runner {{request.user.first_name}} wants to do this task.
              span.text-error(ng-show="request.declined") You declined.
            ul.span5.buttons
              li
                button.btn.btn-success(type="button", ng-show="!request.declined", ng-click="currentBox._action('accept', request)") Accept
              li
                button.btn.btn-error(type="button", ng-show="!request.declined", ng-click="currentBox._action('decline', request)") Decline
              li
                button.btn.btn-info(type="button", ng-show="request.declined", ng-click="currentBox._action('undodecline', request)") Undo Decline


    script(type='text/javascript', src='https://js.stripe.com/v2/')
    - var libs = ['jquery-1.9.1.js', 'angular/angular.min.js', 'angular/angular-resource.min.js', 'bootstrap/js/bootstrap.min.js', 'angular-strap.min.js', 'toastr/toastr.js', 'underscore-min.js', 'underscore.string.min.js', 'angular-ui/angular-ui.min.js', 'select2/select2.min.js', 'moment.min.js', 'leaflet/leaflet.js', 'bootstrap-datepicker/bootstrap-datepicker.js', 'bootstrap-timepicker/bootstrap-timepicker.js', 'angular-strap.min.js']
    each lib in libs
      script(src='/lib/' + lib)
    - var scripts = ['app.js', 'routes.js', 'home.js', 'errands.js', 'auth.js', 'profile.js', 'facebook.js', 'filters.js', 'resources.js', 'directives.js', 'services.js', 'runner.js', 'nav.js']
    each script in scripts
      script(src='/js/' + script)
